services:
  - type: web
    name: restaurant-saas-backend
    env: node
    plan: free
    buildCommand: npm install
    startCommand: node server.js
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000
      - key: MONGODB_URI
        value: mongodb+srv://rashhanz_db_user:mawip900@flavorflow.5wxjnlj.mongodb.net/restaurant_saas?retryWrites=true&w=majority&appName=flavorflow
      - key: DB_NAME
        value: restaurant_saas
      - key: FRONTEND_URL
        value: https://restaurant-saas-demo.onrender.com
      - key: REDIS_PASSWORD
        value: XGXiBx0RVwaf7lUjYH47FDH4ilyPqlHA